body {


   background-image: linear-gradient(to  right,  #c6ffca, #228b42 );
  background-size: cover;

  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.title {
  text-align: center;
  margin: 20px;
}

.buttons {
      text-align: center;
  margin: 20px;
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

.score {
      text-align: center;
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.card {
  display: flex;
  justify-content: center;
  margin: 20px;
}

button {
  background-color: #70b34a;
  color: rgb(255, 190, 117);
  font-size: 18px;
  padding: 10px 30px;
  margin: 0 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #095709;
}


.friends {
      text-align: center;
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.cat {
    display: flex;
    justify-content: center;
}